.btn {
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 1em 1.5em;
  white-space: nowrap;
  margin: 0 0.25em; // aligns vertically central.

  &.btn--lrg {
    font-size: 1.25rem;
  }

  &.btn--sml {
    font-size: 0.75rem;
  }
}

.btn-container {
  width: 100%;
  justify-content: center; // alignment on main axis.
  align-items: center; // alignment on perpendicular axis.
}