// basic mixin to add breakpoint.
@mixin non-mobile {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@import 'base/reset';
@import 'base/variables';
@import 'base/base';

html {
  font-size: 16px;
  font-family: Roboto, 'sans-serif';
  width: 100%;

  @include non-mobile {
    font-size: 24px;
  }
  
  &, * {
    box-sizing: border-box;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto; // 3 rows
  grid-template-areas: 
    "header header header"
    "main main main"
    "related-links related-links related-links"
    "footer footer footer";
  row-gap: .5em;
  min-height: 100vh;

  @include non-mobile {
    grid-template-columns: 1fr 60% 1fr; // 3 columns. first and last have equal width calculated after taking up 60%.
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "header header header"
      "primary-nav main related-links"
      "footer footer footer";
    gap: .5em;
  }

  > * {
    padding: 1em;
  }
}

#header {
  grid-area: header;
  background: palegreen;
  display: flex;
}

#primary-nav {
  grid-area: primary-nav;
  position: fixed;
  right: -60%; // 60% of width, including padding because of border-box.
  z-index: 2;
  transition: transform 0.5s ease-in-out;
  background: white;
  padding: 0.7em;
  width: 60%;
  height: 100vh;

  &:target {
    transform: translateX(-60%);
  }
  
  @include non-mobile {
    position: static;
    height: auto;
    width: auto;
  }
}

#menu-toggle {
  @include non-mobile {
    display: none;
  }
}

#main {
  grid-area: main;
  background: palegoldenrod;
}

#related-links {
  grid-area: related-links;
}

#footer {
  grid-area: footer;
  background: palevioletred;
}

.non-mobile {
  display: none;

  @include non-mobile {
    display: block;
  }
}
